argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
cachetools==5.2.0
charset-normalizer==2.1.1
cryptography==37.0.2
dataclasses==0.6
Django==4.0.5
django-appconf==1.0.5
django-crispy-forms==1.14.0
django-cryptography==1.1
django-dotenv==1.4.2
django-jazzmin==2.5.0
gunicorn
wheel
Pillow
protobuf==3.20.1
psycopg2-binary
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
requests==2.28.1
rsa==4.9
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.11
