
    <form  hx-put="{% url 'users:view_profile' user.id %}" hx-target="#information">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <label class="form-label" for="ttl">Time to live (in clicks). Max: 10</label>
            <input type="number" id="ttl" name="ttl" class="form-control"  min=1 max=10 value={{user_settings.ttl}} />
        </div>
        
        <br>
       
        <button type="submit"  class="btn btn-primary btn-block mb-4">Save</button>
    
        
    </form>
