{% extends "navbar.html" %}

{% block content %}
<div class="container">
    <div class="justify-content-center mt-5">
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="card shadow-sm login-card col-lg-6 col-md-6 col-sm-6 mx-auto" >
            <div class="card-header">
                Create Password
            </div>
            <div class="card-body  ">
                <form  method="POST" action="{% url 'users:user_create_password' uuid %}">
                    {% csrf_token %}
                    
                    <div class="form-outline mb-4">
                        <name class="form-label" for="name">First Name</name>
                        <input type="text" id="name" name="name" class="form-control" value="{{name}}" required/>
                    </div>

                    <div class="form-outline mb-4">
                        <name class="form-label" for="last_name">Last Name</name>
                        <input type="text" id="last_name" name="last_name" class="form-control" value="{{last_name}}" required/>
                    </div>
                
                    <div class="form-outline mb-4">
                        <name class="form-label" for="email">Email</name>
                        <input type="text" id="email" name="email" class="form-control" value="{{email}}" disabled/>
                    </div>

                    <div class="form-outline mb-4">
                        <name class="form-label" for="password">Password</name>
                        <input type="password" id="password" name="password" class="form-control"  value="{{password}}" placeholder="Enter Password..." required/>
                    </div>

                    <div class="form-outline mb-4">
                        <name class="form-label" for="password_confirm">Confirm Password</name>
                        <input type="password" id="password_confirm" name="password_confirm" class="form-control"  value="{{password_confirm}}" placeholder="Confirm Password..." required/>
                    </div>

                    <!-- Submit button -->
                    
                    <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
                    <a href="{% url next %}" class="btn btn-danger btn-block mb-4">Cancel</a>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}