{% extends "navbar.html" %}

{% block content %}
    <div class="container">
        <div class="justify-content-center mt-5">
            <div class="col">
                <h1>Users</h1>
                <hr>
                {% include 'components/add_action_buttons.html' with name=action.name create_view=action.create_url invite_view=action.invite_url %}
                <hr>
                <div class="row">
                    <div class="col" id="user-list">
                        {% include 'users/partials/list-users.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}