{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="justify-content-center mt-5">
      
        <div class="card shadow-sm  col-lg-8 col-md-8 col-sm-8 mx-auto" >
            {% comment %} <div class="card-header">
               View Secret
            </div> {% endcomment %}
            <div class="card-body  ">
                <form  method="POST" >
                    {% csrf_token %} 
                    {% comment %} {% crispy form %} {% endcomment %}
                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" autofocus >
                    </div>
                    
                    <div class="form-outline mb-4">
                        <label class="form-label" for="secret">Encrypted Text</label>
                        <div class="" x-data="{
                            content: '', 
                            limit: $el.dataset.limit 
                            }" data-limit="250">
                            <textarea id="secret" name="secret" rows="4" cols="50" x-ref="content" x-model="content" maxlength=250></textarea>
                            <p x-ref="remaining">
                                You have <span x-text="limit - content.length"></span> characters remaining.
                            </p>
                        </div> 
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="ttl">Time to live (in clicks)</label>
                        <input type="number" id="ttl" name="ttl" class="form-control"  min=1 max=10 value={{settings.ttl}} />
                    </div>
                   
                    <!-- Submit button -->
                  <br>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Encrypt</button>
                    <a href="{% url next %}" class="btn btn-danger btn-block mb-4">Cancel</a>
                </form> 
            </div>
        </div>
    </div>
</div>


{% endblock %}